<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/common.css}">
    <link rel="stylesheet" th:href="@{/user/resources/stylesheets/login.css}">
    <script defer th:src="@{/user/resources/scripts/login.js}"></script>
</head>
<body>
<form id="loginForm">
    <h1 class="title">로그인</h1>
    <label class="label">
        <span class="text">이메일</span>
        <input autofocus required class="input" maxlength="50" name="email" placeholder="이메일 (user@sample.com)" spellcheck="false" type="email">
    </label>
    <label class="label">
        <span class="text">비밀번호</span>
        <input required class="input" maxlength="50" minlength="4" name="password" placeholder="비밀번호 (4자 이상 50자 이하)" spellcheck="false" type="password">
    </label>
    <ul class="menu">
        <li class="item">
            <span class="text">아직 계정이 없으신가요?</span>
            <a href="./register" class="link">회원가입</a>
        </li>
        <li class="item">
            <span class="text">계정을 분실하셨나요?</span>
            <a href="./recover" class="link">계정복구</a>
        </li>
    </ul>
    <div class="button-container">
        <input class="button submit" type="submit" value="로그인">
    </div>
</form>
</body>
</html>