<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/common.css}">
    <link rel="stylesheet" th:href="@{/user/resources/stylesheets/register.css}">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script defer th:src="@{/user/resources/scripts/register.js}"></script>
</head>
<body>
<form id="registerForm">
    <h1 class="title">회원가입</h1>
    <label class="label">
        <span class="text">이메일</span>
        <input autofocus required class="input" maxlength="50" name="email" placeholder="이메일 (user@sample.com)" spellcheck="false" type="email">
    </label>
    <label class="label">
        <span class="text">비밀번호</span>
        <input required class="input" maxlength="50" minlength="4" name="password" placeholder="비밀번호 (4자 이상 50자 이하)" spellcheck="false" type="password">
    </label>
    <label class="label">
        <span class="text">비밀번호 확인</span>
        <input required class="input" maxlength="50" minlength="4" name="passwordCheck" placeholder="비밀번호 확인" spellcheck="false" type="password">
    </label>
    <label class="label">
        <span class="text">닉네임</span>
        <input required class="input" maxlength="10" minlength="2" name="nickname" placeholder="닉네임 (2자 이상 10자 이하)" spellcheck="false" type="text">
    </label>
    <label class="label contact">
        <span class="text">연락처</span>
        <span class="wrapper">
            <input required class="input" minlength="3" maxlength="4" name="contactFirst" placeholder="010" spellcheck="false" type="tel">
            <span class="dash">-</span>
            <input required class="input" minlength="3" maxlength="4" name="contactSecond" placeholder="0000" spellcheck="false" type="tel">
            <span class="dash">-</span>
            <input required class="input" minlength="4" maxlength="4" name="contactThird" placeholder="0000" spellcheck="false" type="tel">
        </span>
    </label>
    <label class="label address">
        <span class="text">주소</span>
        <span class="wrapper">
            <span class="postal-wrapper">
                <input readonly required class="input" maxlength="5" minlength="5" name="addressPostal" placeholder="우편번호" spellcheck="false" type="text">
                <input class="button" name="addressFind" type="button" value="주소 찾기">
            </span>
            <input readonly required class="input" maxlength="100" minlength="5" name="addressPrimary" placeholder="기본 주소 (주소 찾기 버튼을 클릭해 주세요.)" spellcheck="false" type="text">
            <input class="input" maxlength="100" name="addressSecondary" placeholder="상세 주소" spellcheck="false" type="text">
        </span>
    </label>
    <div class="button-container">
        <a class="button cancel" th:href="@{login}">취소</a>
        <input class="button submit" type="submit" value="회원가입">
    </div>
</form>
<div id="addressFinder">
    <img class="close" rel="close" th:src="@{/user/resources/images/register.addressFinder.close.png}" alt="닫기">
    <div class="dialog" rel="dialog"></div>
</div>
</body>
</html>